*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    width: 100%;
    height: 100vh;
    background: #222;
    background-repeat: no-repeat;
    color: #fff;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: grid;
    gap: 4rem;
}

.top--title{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

h1{
    text-align: center;
    color: #ee8181;
    font-size: 3rem;
}

a{
    text-decoration: none;
}

span a{
    color: rgb(29, 158, 158);
}

.clock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5rem;
}

.month--num,
.day--num,
.hour--num,
.minute--num,
.second--num{
    text-align: center;
    font-size: 4rem;
    color: rgb(203, 211, 128);
}

.month--text,
.day--text,
.hour--text,
.minute--text,
.second--text{
    text-align: center;
    font-size: 1rem;
    color: rgb(89, 134, 95);
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.fa-brands{
    font-size: 1.6rem;
    color: rgb(83, 184, 99);
    transition: 0.7s cubic-bezier(0.475, 0.885, 0.82, 1.375);
    cursor: pointer;
}

.fa-brands:hover{
    transform: rotateZ(360deg);
    transition: 0.7s;
    color: rgb(170, 235, 186);
}

@media (max-width: 800px) {
    .clock{
        width: 100%;
        height: 70vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .top--title{
        margin-top: 10rem;
    }

    .icons{
        margin: 3rem;
    }
}